# Dependências
node_modules/

# Build
dist/

# Configurações e variáveis
.env

# Arquivos de sistema (windows, linux, macOS)
.DS_Store
Thumbs.db

# Arquivos temporários de editores
*.swp
*.swo

/generated/prisma
